@model List<Slider>

<h3 style="text-align: center">Slider Table</h3>

<a asp-action="Create" asp-controller="Slider" asp-area="Admin" class="btn btn-primary" style="float: right">Create</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Title :</th>
            <th>Image :</th>
            <th>Description :</th>
            <th>Duzenleme</th>
        </tr>
    </thead>
    <tbody>

        @for (int i = 0; i < Model.Count; i++)
        {
        <tr>
            <td>@(i+1)</td>
            <td>@Model[i].Title</td>
            <td>
                <img style="width:100px; height:100px;" src="~/img/slider/@Model[i].Image" />
            </td>
            <td>@Model[i].Description</td>
            <td>
                <div class="d-flex">
                    <a class="btn btn-dark" asp-action="Details" asp-controller="Slider" asp-area="Admin" asp-route-id="@Model[i].Id">Details</a>

                    <a class="btn btn-warning" asp-action="Update" asp-controller="Slider" asp-area="Admin" asp-route-id="@Model[i].Id">Update</a>

                    <a class="btn btn-danger" asp-action="Delete" asp-controller="Slider" asp-area="Admin" asp-route-id="@Model[i].Id">Delete</a>
                </div>
            </td>
        </tr>
        }

    </tbody>
</table>
