@model (Teacher teacher, List<TeacherSkill> teacherSkills)

<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>teachers / details</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Teacher Start -->
<div class="teacher-details-area pt-150 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-5 col-xs-12">
                <div class="teacher-details-img">
                    <img src="~/img/teacher/teacher-details.jpg" alt="teacher">
                </div>
            </div>
            <div class="col-md-7 col-sm-7 col-xs-12">
                <div class="teacher-details-content ml-50">
                    <h2>@Model.teacher.Fullname</h2>
                    <h5>@Model.teacher.Work</h5>
                    <h4>about me</h4>
                    <p>@Model.teacher.AboutMe </p>
                    <ul>
                        <li><span>degree: </span>@Model.teacher.Degree</li>
                        <li><span>experience: </span>@Model.teacher.Experience</li>
                        <li><span>hobbies: </span>@Model.teacher.Hobbies</li>
                        <li><span>faculty: </span>@Model.teacher.Faculty</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <div class="teacher-contact">
                    <h4>contact information</h4>
                    <p><span>mail me : </span>@Model.teacher.Mail</p>
                    <p><span>make a call : </span>@Model.teacher.MakeACall</p>
                    <p><span>skype : </span>@Model.teacher.Skype</p>
                    <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="zmdi zmdi-facebook"></i></a></li>
                        <li><a href="https://www.pinterest.com/devitemsllc/"><i class="zmdi zmdi-pinterest"></i></a></li>
                        <li><a href="#"><i class="zmdi zmdi-instagram"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="zmdi zmdi-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 col-sm-8">
                <div class="skill-area">
                    <h4>skills</h4>
                </div>
                <div class="skill-wrapper">
                    <div class="row">
                        @foreach (var skill in Model.teacherSkills)
                        {
            <div class="col-sm-4">
                <div class="skill-bar-item">
                    <span>@skill.Skill.Name</span>
                    <div class="progress">
                        <div data-wow-delay="1.2s" data-wow-duration="1.5s" style="width: @(skill.Degree)%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-progress="50%" class="progress-bar wow fadeInLeft">
                            <span class="text-top">@(skill.Degree)%</span>
                        </div>
                    </div>
                </div>
            </div>}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Teacher End -->
<!-- Subscribe Start -->
@await Component.InvokeAsync("Subscribe")